/* 
=============
IMPORTACIONES
=============
*/

@import url('../Fuentes/FontAwesome/Principal.css');

/* 
=============
RESET ESTILOS
=============
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0px;
  font-size: 1.6rem;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

blockquote {
  margin: 0px;
}

figure {
  margin: 0px;
}

img {
  display: block;
  width: 100%;
}

input, textarea {
  margin: 0px;
  border-style: solid;
  outline: none;
}

input, textarea, button {
  font-family: inherit;
}

h1, h2, h3 {
  font-size: 1.6rem;
  line-height: 1em;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

em {
  font-style: normal;
}

/* 
=========
VARIABLES
=========
*/

html {

  /* Dimensiones */
  --ancho-area-activa: 1000px;
  --altura-barra-superior: 50px;
  --altura-footer: 70px;
  --padding-vertical: 5rem;
  --padding-horizontal: 2rem;

  /* Tonos Color Neutro */
  --neutro-oscuro-1: hsl(0, 0%, 20%);
  --neutro-oscuro-2: hsl(0, 0%, 25%);
  --neutro-claro-1: hsl(0, 0%, 96%);
  --neutro-claro-2: hsl(0, 0%, 88%);

  /* Tonos Color Primario */
  --componentes-primario-1: 30, 85%, 75%;
  --color-primario-1: hsl(var(--componentes-primario-1));

  /* Tipografía */
  --fuente-principal: 'Segoe UI', sans-serif;

  /* Efectos */
  --transicion-general: all 250ms linear;
}

/* 
=================
ESTILOS GENERALES
=================
*/

body {
  background-color: var(--neutro-claro-1);
  font-family: var(--fuente-principal);
}

main p {
  margin-bottom: 0px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4em;
  color: var(--neutro-oscuro-1);
}

main p:first-of-type {
  margin-top: 0px;
}

main p:not(:first-of-type) {
  margin-top: var(--margen-parrafos);
}

/* 
==========
ESTRUCTURA
==========
*/

main {
  min-height: calc(100vh - var(--altura-barra-superior) - var(--altura-footer));
}

div.area-activa {
  max-width: var(--ancho-area-activa);
  min-height: inherit;
  margin: 0px auto;
}

/* 
=======================
ELEMENTOS TRANSVERSALES
=======================
*/

[class|='boton'] {
  display: inline-block;
  background-color: var(--neutro-oscuro-1);
  border: none;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
  transition: var(--transicion-general);
  transition-property: background-color, color;
}

[class|='boton']:hover {
  background-color: var(--color-primario-1);
  color: var(--neutro-oscuro-1);
}

/* 
==============
BARRA SUPERIOR
==============
*/

header#barra-superior {
  height: var(--altura-barra-superior);
  background-color: var(--neutro-oscuro-1);
}

header#barra-superior div.area-activa {
  height: inherit;
  padding-left: var(--padding-horizontal);
}

header#barra-superior div.area-activa::after {
  display: block;
  clear: both;
  content: '';
}

header#barra-superior h1.logo {
  float: left;
  height: var(--altura-barra-superior);
  margin-bottom: 0px;
}

header#barra-superior h1.logo a {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 0.02em;
  color: white;
}

header#barra-superior nav.menu-navegacion {
  float: right;
  height: var(--altura-barra-superior);
  color: white;
}

header#barra-superior nav.menu-navegacion ul {
  height: inherit;
  font-size: 0px;
}

header#barra-superior nav.menu-navegacion li {
  display: inline-block;
  height: inherit;
  font-size: 1.4rem;
  transition: var(--transicion-general);
  transition-property: background-color, color;
}

header#barra-superior nav.menu-navegacion li:hover,
header#barra-superior nav.menu-navegacion li.pagina-actual {
  color: var(--color-primario-1);
  background-color: var(--neutro-oscuro-2);
}

header#barra-superior nav.menu-navegacion a {
  display: block;
  height: inherit;
  padding: 0px 1.5rem;
}

header#barra-superior nav.menu-navegacion a span {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 
======
FOOTER
======
*/

footer#footer-pagina {
  height: var(--altura-footer);
  background-color: var(--neutro-oscuro-1);
  padding: 0px;
}

footer#footer-pagina div.area-activa {
  height: inherit;
}

footer#footer-pagina div.texto-footer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px var(--padding-horizontal);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: capitalize;
  color: var(--neutro-claro-1);
}
