/* 
=============
IMPORTACIONES
=============
*/

@import url('Base.css');


/* 
=======
GENERAL
=======
*/

body {
  background-color: var(--neutro-oscuro-2);
}

/* 
============================
SECCIÓN: FORMULARIO CONTACTO
============================
*/

section#seccion-formulario {
  background-color: var(--neutro-claro-1);
  padding: var(--padding-vertical) 0px;
}

section#seccion-formulario div.area-activa {
  padding: 0px var(--padding-horizontal);
}

section#seccion-formulario header {
  margin-bottom: 3rem;
}

section#seccion-formulario h2.titulo-formulario {
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--neutro-oscuro-1);
}

section#seccion-formulario h2.titulo-formulario em {
  color: var(--color-primario-1);
}

section#seccion-formulario div.grupo-formulario:not(:first-of-type) {
  margin-top: 1.5rem;
}

section#seccion-formulario div.grupo-formulario label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 300;
}

section#seccion-formulario div.grupo-formulario :is(input, textarea) {
  --padding-campo: 1rem;
  display: block;
  width: 100%;
  background-color: var(--neutro-claro-1);
  border: solid 1px var(--neutro-claro-2);
  padding: var(--padding-campo);
  font-size: 1.6rem;
  transition: var(--transicion-general);
  transition-property: border-color;
}

section#seccion-formulario div.grupo-formulario textarea {
  --minimo-lineas: 5;
  --maximo-lineas: 10;
  --leading-campo: 1.5em;
  line-height: var(--leading-campo);
  resize: vertical;
  min-height: calc(2 * var(--padding-campo) + var(--minimo-lineas) * var(--leading-campo) + 2px);
  max-height: calc(2 * var(--padding-campo) + var(--maximo-lineas) * var(--leading-campo) + 2px);
}

section#seccion-formulario div.grupo-formulario :is(input, textarea):focus {
  border-color: var(--color-primario-1);
}

section#seccion-formulario div.grupo-boton {
  margin-top: 3rem !important;
}

/* 
===========================================
MEDIA QUERIES: SECCIÓN FORMULARIO CONTACTO
===========================================
*/

/* Break Points: A) 0px, B) 520px, C) 760px */
/* Rango AB: < 520px */
@media (max-width: 519px) {
  section#seccion-formulario button.boton-formulario {
    width: 100%;
  }
}

/* Rango BZ: > 520px */
@media (min-width: 520px) {
  section#seccion-formulario button.boton-formulario {
    width: auto;
  }
}


/* 
=============================
SECCIÓN: INFORMACIÓN CONTACTO
=============================
*/

section#seccion-info-contacto {
  background-color: var(--neutro-oscuro-2);
  color: var(--neutro-claro-1);
}

section#seccion-info-contacto article.columna-contacto {
  padding-left: var(--padding-horizontal);
  padding-right: var(--padding-horizontal);
  text-align: center;
}

section#seccion-info-contacto article.columna-contacto header {
  margin-bottom: 1rem;
}

section#seccion-info-contacto i.icono-contacto {
  font-size: 2.4rem;
  margin-bottom: 0.75rem;
}

section#seccion-info-contacto h3.nombre-contacto {
  font-size: 1.8rem;
  font-weight: normal;
}

section#seccion-info-contacto div.texto-contacto p {
  font-size: 1.5rem;
  color: inherit;
}

/* 
===========================================
MEDIA QUERIES: SECCIÓN INFORMACIÓN CONTACTO
===========================================
*/

/* Break Points: A) 0px, B) 520px, C) 760px */
/* Rango AB: < 520px */
@media (max-width: 519px) {
  section#seccion-info-contacto article.columna-contacto {
    width: 100%;
  }
}

/* Rango BZ: > 520px */
@media (min-width: 520px) {
  section#seccion-info-contacto::after {
    display: block;
    clear: both;
    content: '';
  }  
  section#seccion-info-contacto article.columna-contacto {
    float: left;
  }
}

/* Rango BC: 520px - 760px */
@media (min-width: 519px) and (max-width: 759px) {
  section#seccion-info-contacto article.columna-contacto {
    width: 50%;
  }
  section#seccion-info-contacto article.columna-contacto:last-of-type {
    width: 100%;
  }
}

/* Rango AC: < 760px */
@media (max-width: 760px) {
  section#seccion-info-contacto article.columna-contacto {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* Rango CZ: > 760px */
@media (min-width: 760px) {
  section#seccion-info-contacto article.columna-contacto {
    width: calc(100% / 3);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
  }
}
