/* 
=============
IMPORTACIONES
=============
*/

@import url('Base.css');


/* 
============
RUTA ENLACES
============
*/

html {
  --ruta-fondo-seccion-hero: 
    url('../Recursos/Imagenes/Fondo-Hero.jpg');
}

/* 
=============
SECCIÓN: HERO
=============
*/

section#seccion-hero {
  min-height: 60vh;
  background-image: var(--ruta-fondo-seccion-hero);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

section#seccion-hero div.area-activa {
  position: relative;
}

section#seccion-hero div.contenido {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0px var(--padding-horizontal);
  text-align: center;
  color: white;
}

section#seccion-hero h2.titulo-seccion {
  margin-bottom: 2rem;
  font-size: 4.8rem;
  text-transform: capitalize;
}

section#seccion-hero h2.titulo-seccion em {
  color: var(--color-primario-1);
}

section#seccion-hero p.descripcion {
  max-width: 60ch;
  margin: 0px auto;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.5em;
  color: inherit;
}

section#seccion-hero a.boton-hero {
  margin-top: 3.5rem;
  padding: 1.25rem 3.25rem;
  font-size: 1.5rem;
}

/* 
=================
SECCIÓN: HISTORIA
=================
*/

section#seccion-historia {
  background-color: var(--neutro-oscuro-1);
}

section#seccion-historia div.area-activa::after {
  display: block;
  clear: both;
  content: '';
}

section#seccion-historia figure.columna-izquierda {
  float: left;
  width: 50%;
}

section#seccion-historia figure.columna-izquierda img {
  object-fit: cover;
}

section#seccion-historia div.columna-derecha {
  float: right;
  width: 50%;
  padding: var(--padding-vertical) 3rem;
  text-align: center;
  color: white;
}

section#seccion-historia div.columna-derecha h2.titulo-seccion {
  margin-bottom: 2.5rem;
  font-size: 2.2rem;
  text-transform: capitalize;
}

section#seccion-historia div.columna-derecha h2.titulo-seccion em {
  color: var(--color-primario-1);
}

section#seccion-historia div.columna-derecha p {
  --margen-parrafos: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: inherit;
  max-width: 60ch;
  text-align: justify;
}

section#seccion-historia div.columna-derecha a.boton-historia {
  margin-top: 3.5rem;
  background-color: white;
  color: var(--neutro-oscuro-1);
}

section#seccion-historia div.columna-derecha a.boton-historia:hover {
  background-color: var(--color-primario-1);
}

/* 
=================
SECCIÓN: FEATURES
=================
*/

section#seccion-features {
  background-color: var(--neutro-claro-1);
}

section#seccion-features div.area-activa::after {
  display: block;
  clear: both;
  content: '';
}

section#seccion-features article.feature {
  float: left;
  width: calc(100% / 3);
  padding: var(--padding-vertical) var(--padding-horizontal);
  text-align: center;
}

section#seccion-features article.feature:nth-child(even) {
  background-color: var(--color-primario-1);
}

section#seccion-features article.feature {
  color: var(--neutro-oscuro-1);
}

section#seccion-features article.feature i.icono {
  margin-bottom: 1.25rem;
}

section#seccion-features article.feature i.icono::before {
  font-size: 2.8rem;
}

section#seccion-features article.feature h3.titulo {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
}

section#seccion-features article.feature p {
  margin: 0px;
}
